.post-header {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;

  .thumbnail {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
  }
  .author {
    margin: 0 0.5rem;
    font-size: 1rem;
  }
}

figure {
  margin: 0 0 0.5rem 0;
  img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.stats {
  padding: 0 1rem;
  button {
    background: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border: none;
  }
  .icons {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }
  .likes {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    font-weight: bold;
  }
}
