.search-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .search-input {
    width: 20rem;
    padding: 0.25rem;
  }
  .search-input:focus ~ .search-placeholder {
    display: none;
  }
  .search-placeholder {
    pointer-events: none;
    position: absolute;
    color: gray;
    font-size: 0.9rem;
  }
}
