li.comment-item {
  --font-size: 0.9rem;
  margin: 0.5rem 0;
  .comment-username {
    font-size: var(--font-size);
    margin-right: 1ch;
    display: inline;
  }
  .comment-text {
    font-size: var(--font-size);
    display: inline;
  }
}
